.rb-supply-chain-wrapper {
  padding: 1em;
  background: #FFF;
  h1 {
    text-align: center;
  }
  ul {
    text-align: left;
  	li {
  		margin-bottom: 1em;
      font-size: 1.4em;
  	}
  }
  .rb-list-icon {
  	margin-right: 0.5em;
  	display: inline-block;
  }
}
