.rb-story-explorer-wrapper {
  text-align: left;
  h1 {
    text-align: center;
  }
  .rb-story-list {
    background: #FFF;
    padding: 1em;
    ul {
      li {
        font-size: 1.2em;
        margin-bottom: 1em;
        line-height: 1.2em;
      }
    }
  }
}
